@import url("https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0; }

body {
  font-size: 16px; }

header {
  background: #bb7a6f; }
  header div {
    display: flex;
    justify-content: space-between;
    align-items: center; }

a img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px; }

#navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-family: 'Black Han Sans', sans-serif; }
  #navbar ul li {
    list-style: none;
    padding: 10px; }
    #navbar ul li a {
      text-decoration: none; }

li:hover {
  background: #eb7979; }

#container_filtro {
  display: flex;
  justify-content: center;
  margin: 20px 0px; }
  #container_filtro form {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a58080;
    width: 900px;
    height: 45px;
    gap: 20px; }
    #container_filtro form button {
      background: #ed4f4f;
      padding: 10px;
      height: 35px; }
    #container_filtro form input {
      padding: 10px;
      height: 35px; }

.table-container {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }
  .table-container #data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; }
    .table-container #data-table th,
    .table-container #data-table td {
      border: 1px solid #6f4b4b;
      padding: 10px;
      text-align: left; }
      .table-container #data-table th img,
      .table-container #data-table td img {
        width: 100px;
        height: 100px; }
    .table-container #data-table th {
      background-color: #ed4f4f; }
    .table-container #data-table tbody tr:nth-child(even) {
      background-color: #a58080; }
    .table-container #data-table tbody tr:hover {
      background-color: #e0e0e0; }

.star-rating {
  color: gold;
  font-size: 1.5rem; }

/* Estilos para el mensaje de "No hay casas disponibles" */
#message-not-found {
  text-align: center;
  margin: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px; }
